<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctors with Specialization<%= Specialization %></title>
</head>
<body>
    
    <ul>
        <% doctors.forEach(doctor => { %>
            <li>
                <strong>Doctor ID:</strong> <%= doctor._id %><br>
                <strong>First Name:</strong> <%= doctor.FirstName %><br>
                <strong>Last Name:</strong> <%= doctor.LastName %><br>
                <strong>Email:</strong> <%= doctor.Email %><br>
            
            </li>
        <% }); %>
    </ul>
    
</body>
</html>
